<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Item Details</title>
    
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="/css/modal.css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="/css/details.css" th:href="@{/css/details.css}">
        <link rel="stylesheet" href="/css/itemDetails.css" th:href="@{/css/itemDetails.css}">
    </head>
    <body>
        <div class="wrapper">
            <div th:replace="fragments/general :: pageHeader(title=' / Item Details', userData=${user})"/>
            <div class="nav side-nav" th:replace="fragments/general :: sideNav(navList = ${navList})"/>
            <div class="main">
                <div class="tableWrapper">
                    <div class="tableHeader">
                        <h2 class="context-title" th:text="'Item '+${itemDetails.itemId}"></h2>
                    </div>
                    <table>
                        <tr>
                            <th>ID:</th>
                            <td th:text="${itemDetails.itemId}"></td>
                            <th>Price:</th>
                            <td th:text="${itemDetails.price}"></td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td th:text="${itemDetails.name}"></td>
                            <th>Description:</th>
                            <td th:text="${itemDetails.description}"></td>
                        </tr>
                        <tr>
                            <th>Stock:</th>
                            <td th:text="${itemDetails.stock}"></td>
                            <th>Type:</th>
                            <td th:text="${itemDetails.itemType}"></td>
                        </tr>
                    </table>
                    <div id="itemControls">
                        <button id="addStockButton" th:onclick="'javascript:createStockUpdatePopup('+${itemDetails.itemId}+')'">Add Stock</button>
                        <button id="updateItemButton">Update</button>
                        <button id="deleteItemButton" th:onclick="'javascript:deleteItem('+${itemDetails.itemId}+')'">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/dropdownUtils.js"></script>
        <script src="/js/modalUtils.js"></script>
        <script src="/js/items.js"></script>
        <script src="/js/itemUtils.js"></script>
    </body>
</html>