td,th {
    padding: 10px;
    text-align: left;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

.tableWrapper {
    margin: 20px;
    border: 1px solid gray;
}

.row-title {
    background: white;
    font-size: 1.2rem;
}

table {
    border-spacing: 1px 1px;
}

button {
    padding: 5px;
    background: whitesmoke;
    cursor: pointer;
}

.context-title {
    height: fit-content;
    align-self: center;
}