.medium-message {
    font-size: 1.2rem;
    text-align: center;
}

.full-bg {
    text-align: center;
    width: 300px;
    height: 300px;
}

.under-construction {
    text-align: center;
}

#logoutButton {
    background: none;
    border: none;
}

.greeting-detail{
    text-decoration: none;
    font-weight: normal;
}
.greeting-title {
    font-size: 1.8rem;
}