
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
}

.statistics-container {
    font-size: 1.8rem;

    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;
}

.under-construction {
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    flex-direction: column;

    font-size: 1.3rem;
}

.under-construction img{
   width: 200px;
   height: 200px;
}


.footer {
    width: 100%;
    border-top: 1px solid black;
    
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;

    font-size: 1.3rem;

    color: whitesmoke;
}
