@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slideIn {
    from {left: 0;}
    to {left: 50%;}
}


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

td {
    padding: 10px 0 !important;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.55);

    animation-name: fadeIn;
    animation-duration: 0.3s;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.modal-container {
    width: 20%;
    height: fit-content;

    min-width: 200px;
    max-width: 500px;

    max-height: 600px;

    background: whitesmoke;

    display: block;

    border-radius: 4px;
    border: 1px solid gray;

    position: fixed;
    top:50%;
    left:50%;

    transform: translate(-50%, -50%);

    animation: slideIn;
    animation-duration: 0.3s;

    padding: 8px 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    border-bottom: 1px solid gray;
}
.modal-title {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.modal-close {
    cursor: pointer;
    height: fit-content;
    margin: auto 0;
    padding: 0 10px;
}

.modal-body {
    padding: 6px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid gray;
}

form {
    text-align: center;
}
input, .modal-button {
    padding: 5px 5px;
    border-radius: 2px;
    background: white;
    border: 1px solid gray;
    cursor: pointer;

    text-align: center;
}
.modal-button {
    padding: 5px 15px !important;
    margin: 5px;
}

label {
    display: block;
}

.modal-subtitle {
    padding: 8px 10px;

    border-radius: 2px;
    margin: 0;
}

.error {
    background: #ecb5b5;
}

.success {
    background: #a0efa0;
}

.info {
    background: #9595e5;
}

.warning {
    background: #e3e29f;
}
