.main {
    display: block;
}

td {
    text-align: center;
    width: 100%;
    padding: 10px;
    display: grid;
    align-items: center;
}
th {
    padding: 10px;
    background-color: lightgrey;
    width: 100%;
}
tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid gray;
}
table {
    height: 100%;
}

.tableWrapper {
    padding: 20px;
    background-color: whitesmoke;
    flex-grow: 1;
    overflow-y: auto;
}

.main {
    display: block;
    height: fit-content;
    max-height: 100%;
}

.form-button-group {
    text-align: right;
    margin: 0 20px;
}

button, input {
    padding: 8px !important;
    font-size: 0.8rem !important;
}
input {
    height: fit-content;
}
#filterControls form {
    text-align: left;
    padding: 20px;
    width: fit-content;
    border: 1px solid gray;
}

.linkButton {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 10px;
}
