html {
    font-size: 1rem;
}
.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 8px 5px;
    border-radius: 3px;
    margin: 4px auto;
    background: linear-gradient(white, gainsboro);
    max-width: 400px;
}

#orderControls {
    text-align: right;
    padding: 5px;
}

.index {
    font-weight: bold;
    border-right: 1px solid gray;
    padding: 0px 8px;
}