html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    display: block;
}

body {
    margin: 0;
    background: wheat;
}
.signup-container {
    height: 100%;
    display: flex;

    margin: auto auto;
}

.signup-title-text {
    font-size: 2.5rem;
    border-bottom: solid 1px gray;
    padding: 5px;
    text-align: center;
}

.signup-body {
    width: fit-content;
    min-height: fit-content;
    max-height: max-content;
    max-width: 250px;

    padding: 0px 30px;
    border: 1px solid gray;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background:whitesmoke;

    border-radius: 5px;
}

.signup-input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
}

label {
    display: inline;
    width: fit-content;
    font-size: 0.8rem;
}

input {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
button {
    padding: 5px;;
    margin: 5px;
}

#signup-submit {
    min-width: 100px;
    max-width: 150px;
    align-self: center;
    font-size: 1rem;
}

.info {
    font-size: 0.6rem;
    text-align: center;
    
    border-top: 1px solid gray;
}