.wrapper {
    height: 100%;
    width: 100%;

    background: white;

    display: grid;

    grid-template-columns: min-content auto auto;
    grid-template-rows: min-content min-content auto;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

button-no-style {
    border: none;
    background: none;
}


.navlist-container {
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end: 2;
}

.section-info {
    border-bottom: 1px solid gray;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    padding: 10px;
}

.info-wrapper {
    display: block;
    margin: 5px;

    font-size: 1.3rem;
    font-family: sans-serif;
}

.table-wrapper {
    display: flexbox;

    max-height: 30vh;

    overflow: auto;
}

.section-status {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;

    background: whitesmoke;
}

.table controls {
    background: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes slideIn {
    from {
        bottom: 0;
    }
    to {
        bottom:50%;
    }
}

.side-form{
    padding: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.clear-selection {
    margin: 50px 5px 5px 5px;
    font-size: 0.9rem;
    color: rgb(0, 0, 224);
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    font-weight: bold;
}

button, select {
    font-size: 1rem;
    padding: 5px 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

#statusSelect{
    margin: 0 5px;
}

.title-wrapper {
    padding: 20px;

    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.search-wrapper {
    display: inline;
}

#searchBar {
    font-size: 1rem;
}

.table-box {
    width: 100px;
    height: 70px;

    font-size: 0.8rem;

    min-width: 50px;
    min-height: 50px;

    margin: 10px;

    display: inline-flex;

    flex-direction: column;

    justify-content: space-around;

    border: 1px solid black;
    border-radius: 5px;

    transition: 0.2s all ease;

    text-align: center;

    animation-name: fadeIn;
    animation-duration: 0.6s;
}

.selected {
    border: 2px solid rgb(0, 0, 0);
}

.available {
    background: rgb(135, 243, 135);
}

.full {
    background: rgb(149, 169, 255);
}

.out-of-service {
    background: rgb(247, 162, 156);
}

.preparing {
    background: rgb(236, 236, 106);
}

.table-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.table-title {
    font-weight: bold;
    align-self: center;
}

.table-status {
    align-self: center;
}

.tables-row {
    border-top: 1px solid gray;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid gray;
}

.table-button {
    font-size: 1rem;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
}

.check-button {
    margin-left: 10px;
    margin-right: 10px;
}