@keyframes slideIn {
    from {
        bottom: 0;
    }
    to {
        bottom:50%;
    }
}

.section {
    min-height: 30%;

    background: whitesmoke;
    margin: 10px;

    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.small-title {
    padding: 0;
    margin: 0;
}

.information-wrapper {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 1.2rem;
    height: fit-content;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;

    padding: 5px;
}

#tablesWrapper {
    display: flexbox;

    text-align: center;

    overflow-y: auto;

    background: whitesmoke;

    max-height: 40vh;
}

.table-box {
    width: 80px;
    height: 60px;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px;

    padding: 5px;
    border-radius: 5px;

    border: 1px solid gray;

    text-align: center;
}

#logoutButton {
    border: none;
    background: none;
}

label {
    margin: 0 5px;
}

.input-wrapper {
    padding: 5px;
}

input {
    font-size: 1rem;
    padding: 5px 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.selected {
    border: 2px solid rgb(0, 0, 0);
}

.available {
    background: rgb(135, 243, 135);
}

.full {
    background: rgb(149, 169, 255);
}

.out-of-service {
    background: rgb(247, 162, 156);
}

.table-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}