td {
    text-align: center;
}
th {
    padding: 10px;
    background-color: lightgray;
}

.tableWrapper {
    padding: 20px;
    height: 25%;
    max-height: 80%;
}

.main {
    display: block !important;
}

.detailsLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}