
#editButton {
    color: cornflowerblue;
    border: 1px solid gray;
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 4px 12px;
    cursor: pointer;
}