<!DOCTYPE html>
<html lang="en" xmlsn="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="page-header">
            <a class="big-title" href="/">Admin Panel / Tables</a> <!-- Title !-->
            <div class="corner-container">
                <form id="logoutForm" th:action="@{/logout}" method="post"> <!-- Logged user details !-->
                    <input type="submit" id="logoutButton" value="Logout">
                </form>
            </div>
        </div>
        <div class="nav side-nav">
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" th:each="nav : ${navlist}" th:text="${nav}" th:href="${'/'+nav.toLowerCase()}"></a>
        </div>
        <div class="main">

        </div>
    </div>
</body>
</html>