<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <h2 th:if="${param.error}">Invalid email or password</h2>
        <h2 th:if="${param.logout}">You have been logged out</h2>
        <div class="login-container">
            <div class="login-body">
                <form th:action="@{/login}" method="post">
                    <div class="login-title">
                        <h1 class="login-title-text">
                            Log In
                        </h1>
                    </div>
                    <div class="login-input-box">
                        <label for="input-email">E-Mail</label>
                        <input type="email" name="email" id="input-email" placeholder="E-Mail">

                        <label for="input-password">Password</label>
                        <input type="password" name="password" id="input-password" placeholder="Password">
                        <input type="submit" id="login-submit" value="Login"/>
                    </div>
                    <div class="signup">
                        <a href="/signup" class="signup-link">
                            Create a signup request
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>