<!DOCTYPE html>
<html lang="en" xmlsn="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main_page.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1 class="tittle">Admin Panel</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:value="'Logged as '+${user}" class="button-no-style">
                </input>
            </form>
        </div>
        <div class="navlist-container nav">
            <div class="navlist-inner-container">
                <h5 class="nav-title">Navigation</h5>
                <div class="navlist">
                    <div class="nav-item-container">
                        <a href="/orders" class="nav-item">Orders</a>
                    </div>
                    <div class="nav-item-container">
                        <a href="/items" class="nav-item">Items</a>
                    </div>
                    <div class="nav-item-container">
                        <a href="/tables" class="nav-item">Tables</a>
                    </div>
                    <div class="nav-item-container">
                        <a href="/users" class="nav-item">Employees</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="statistics-container">
            <div class="under-construction">
                <img src="/img/under_construction.jpg" alt="">
                <p>
                    Under development. This area will show general information about restaurants day-to-day statistics.
                </p>    
            </div>
        </div>
    </div>
    <script src="../static/js/main_page.js"></script>
</body>
</html>