<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="../static/css/main_page.css">
</head>
<body background="../static/img/mainbg.jpg">
    <div class="header">
        <nav>
            <div class="logo">
                <a href="/templates/main_page.html" class="title">Some Header</a>
            </div>

            <ul>
                <li>
                    <a href="">Log In</a>
                </li>
                <li>
                    <a href="">Reservation</a>
                </li>
                <li>
                    <a href="/templates/menu_page.html">Menu</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="table-box-container">
                
            </div>
        </div>
    </div>

    <div class="footer">
        <h4>Some footer information about restaurant and menus.</h4>
        <div class="copyright">
            <h5>Copyright ©2021 by Resul Taha Dönük</h5>
        </div>
    </div>

    <script src="../static/js/menu_page.js"></script>
</body>
</html>