<!DOCTYPE html>
<html lang="en" xmlsn="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main_page.css">
</head>
    <body>
        <div class="wrapper">
            <div th:replace="fragments/general :: pageHeader(title='', userData=${user})"/>
            <div class="nav side-nav" th:replace="fragments/general :: sideNav(navList = ${navlist})"/>
            <div class="main">
                <div class="section">
                    <div class="section" id="greetingSection">
                        <h3 class="big-title" th:text="'User: ' + ${user.firstName}"></h3>
                        <h4 class="small-title" th:text="'Authority: ' + ${user.role}"></h4>
                    </div>
                </div>
                <div class="section">
                    <div class="under-construction">
                        <img class="full-bg" src="/img/under_construction.jpg" alt="">
                        <p class="medium-message">
                            Under development. This area will show general information about restaurants day-to-day statistics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/dropdownUtils.js" th:src="@{/js/dropdownUtils.js}"></script>
        <script src="/js/modalUtils.js" th:src="@{/js/modalUtils.js}"></script>
        <script src="/js/main_page.js" th:src="@{/js/main_page.js}"></script>
    </body>
</html>