<!DOCTYPE html>
<html lang="en" xmlsn="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main_page.css">
</head>
    <body>
        <div class="wrapper">
            <div th:replace="fragments/general :: pageHeader(title='', userData=${user})"/>
            <div class="nav side-nav" th:replace="fragments/general :: sideNav(navList = ${navlist})"/>
            <div class="main">
                <div class="section" id="stats">
                    <div class="sub-section box" id="tableStats">
                        <div class="box-header">
                            <h2 class="box-title">Tables</h2>
                        </div>
                        <div class="box-content">
                            <table>
                                <tr>
                                    <th>
                                    
                                    </th>
                                    <th>
                                        <label class="stat-title">Count</label>
                                    </th>
                                    <th>
                                        <label class="stat-title">Percent</label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Available: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${tableStats.availableCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(tableStats.getAvailablePercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Full: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${tableStats.fullCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(tableStats.getFullPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Out Of Service: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${tableStats.outOfServiceCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(tableStats.getOutOfServicePercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Total</label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${tableStats.totalCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="sub-section box" id="userStats">
                        <div class="box-header">
                            <h2 class="box-title">Users</h2>
                        </div>
                        <div class="box-content">
                            <table>
                                <tr>
                                    <th> </th>
                                    <th>
                                        <label class="stat-title">Count</label>
                                    </th>
                                    <th>
                                        <label class="stat-title">Percent</label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Admin: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${userStats.adminCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(userStats.getAdminPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Manager: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${userStats.managerCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(userStats.getManagerPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Employee: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${userStats.employeeCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(userStats.getEmployeePercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">User: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${userStats.userCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(userStats.getUserPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Total: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${userStats.totalCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="sub-section box" id="itemStats">
                        <div class="box-header">
                            <h2 class="box-title">Products</h2>
                        </div>
                        <div class="box-content">
                            <table>
                                <tr>
                                    <th>
                                    
                                    </th>
                                    <th>
                                        <label class="stat-title">Count</label>
                                    </th>
                                    <th>
                                        <label class="stat-title">Total Stocks</label>
                                    </th>
                                    <th>
                                       <label class="stat-title">Percent (Item Count)</label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Meal: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.mealCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.totalMealStocks}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(itemStats.getMealPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Beverage: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.beverageCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.totalBeverageStocks}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(itemStats.getBeveragePercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Dessert: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.dessertCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.totalDessertStocks}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(itemStats.getDessertPercent(), 1, 2)}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Total: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${itemStats.totalCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${#numbers.formatDecimal(itemStats.getTotalStocks(), 1, 0)}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="sub-section box" id="orderStats">
                        <div class="box-header">
                            <h2 class="box-title">Orders</h2>
                        </div>
                        <div class="box-content">
                            <table>
                                <tr>
                                    <th>
                    
                                    </th>
                                    <th>
                                        <label class="stat-title">Count</label>
                                    </th>
                                    <th>
                                        <label class="stat-title">Change</label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Today: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountToday}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.getTodayPercentToYesterday()}+' (Compared to yesterday)'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Yesterday: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountYesterday}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Current Week: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountCurrentWeek}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.getCurrentWeekRatioToLastWeek()}+' (Compared to last week)'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Last Week: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountLastWeek}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Current Month: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountCurrentMonth}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.getCurrentMonthRatioToLastMonth()}+' (Compared to last month)'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Last Month: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.orderCountLastMonth}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="stat-label">Total: </label>
                                    </th>
                                    <td>
                                        <span class="stat-content" th:text="${orderStats.totalCount}"></span>
                                    </td>
                                    <td>
                                        <span class="stat-content" th:text="''"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/dropdownUtils.js" th:src="@{/js/dropdownUtils.js}"></script>
        <script src="/js/modalUtils.js" th:src="@{/js/modalUtils.js}"></script>
        <script src="/js/main_page.js" th:src="@{/js/main_page.js}"></script>
    </body>
</html>