<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Orders</title>
    
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="/css/orders.css">
        <link rel="stylesheet" href="/css/modal.css">
        <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="page-header" th:replace="fragments/general :: pageHeader(title=' / Orders', userData=${user})"/>
            <div class="nav side-nav" th:replace="fragments/general :: sideNav"/>
            <div class="main">
                <div class="tableWrapper">
                    <table>
                        <tr>
                            <th>
                                <label class="row-label">Order ID</label>
                            </th>
                            <th>
                                <label class="row-label">Table Number</label>
                            </th>
                            <th>
                                <label class="row-label">Date</label>
                            </th>
                            <th>
                                <label class="row-label">Price</label>
                            </th>
                            <th>
                                <label class="row-label">Item Count</label>
                            </th>
                            <th></th>
                        </tr>
                        <tr th:each="order : ${orders}">
                            <td>
                                <p th:text="${order.orderId}"></p>
                            </td>
                            <td>
                                <p th:text="${order.tableId}"></p>
                            </td>
                            <td>
                                <p th:text="${#dates.format(order.orderDate, 'HH:mm:ss dd/MM/yyyy')}"></p>
                            </td>
                            <td>
                                <p th:text="${order.totalPrice}"></p>
                            </td>
                            <td>
                                <p th:text="${#lists.size(order.receipt.items)}"></p>
                            </td>
                            <td>
                                <a class="linkButton" th:href="'api/order/'+${order.orderId+'/details'}">Details</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="filterControls">
                
                </div>

            </div>
        </div>
        <script src="/js/dropdownUtils.js" th:src="@{/js/dropdownUtils.js}"></script>
        <script src="/js/modalUtils.js" th:src="@{/js/modalUtils.js}"></script>
        <script src="/js/orders.js" th:src="@{/js/orderUtils.js}"></script>
    </body>
</html>