<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Unauthorized</title>
    
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div class="wrapper">
            <div class="page-header">
                <a class="big-title" href="/">Admin Panel</a>
            </div>
            <div style="display: block; padding: 0 30px;" class="main">
                <br/>
                <h1 style="padding: 30px">Oops..</h1>
                <br/>
                <h2>You are not allowed to do that action. If you think there is a mistake please communicate with your manager.</h2>
            </div>
        </div>
    </body>
</html>